.draw-container {
    --gap: 10px;
    --width: 80px;
    --height: 80px;
    --translate: calc(var(--width) + var(--gap));
    --duration: 1.8s;
}

.draw-container {
    display: flex;
    gap: var(--gap);
    align-content: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    box-sizing: border-box;
}

div.draw-first {
    background-color: #646cffaa;
}

.draw, .invisible {
    height: var(--height);
    width: var(--width);
    aspect-ratio: 1/1;
}

.draw {
    color: black;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    transform-style: preserve-3d;
}

.draw > span {
    margin: 0;
    line-height: 1.1;
    z-index: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.draw::after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78%;
    height: 78%;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.draw .draw-letter {
    font-size: 1rem;
    font-weight: 700;
}

.draw:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.34));
}

.invisible {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .draw .draw-letter {
        font-size: 1rem;
    }

    .draw-container {
        font-size: 1.5rem;
        --gap: 5px;
        --width: 65px;
        --height: 65px;
    }
}

