button.bingo-button {
    padding: 0.5rem 1rem;
    border: white 1px solid;
    text-align: center;
}

button.bingo-button:hover {
    border: #646cffaa solid 1px;
    filter: drop-shadow(0 0 0.5em #646cffaa);
}