section.game-section {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 600px) {
    section.game-section {
        width: 300px;
    }
}