.room-form, .room-form label, #create-form {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.room-form #create-form {
    flex-direction: row;
    gap: 10px
}

.room-form h2 {
    text-align: center;
    margin-top: 0;
}

.room-form input {
    width: 75px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.room-form label > span {
    margin-bottom: 2px;
}

.room-form {
    height: 120px;
    background-color: #151515;
    border-radius: 30px;
    padding-block: 10px;
    padding-inline: 20px;
}

#create-form .form-button {
    min-width: 100px;
    width: 20px;
    font-size: 1rem;
    padding: 0;
}
